<hr>
<div class="listingtile">
  {{#link-to 'listing' listing.id}}{{listing.title}}{{/link-to}}
  <h5>{{listing.date}}</h5>
  <h5>{{listing.contact}}</h5>
  <h4>{{listing.price}}</h4>
  <p>{{listing.body}}</p>
</div>
